body {
    font-family: Arial, sans-serif;
    margin: 0px;
    
}

h1 {
    text-align: center;
    margin: 30px;
}

form {
    margin-top: 20px;
    margin-left: 70px;
}

table {
    width: 90%;
    border-collapse: collapse;
    background-color: rgb(233, 228, 253) ;
    margin-top: 20px;
    margin-left: 70px;
}

table, th, td {
    border: 1px solid black;
    background-color: rgb(228, 230, 249) ;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    background-color: #1a2d67;
    color: white;
}
